@using Asp.DALL.Entites;
@inject IHtmlLocalizer<MajalesResx> Localizer

@model Asp.DALL.Viewmodel.EmployeeVM
@{
    var listofgender = (List<Gender>)ViewData["gender"];
    var listofbooks = (List<ListBooks>)ViewData["lists"];

}
<form asp-controller="Employeesss" asp-action="Form" data-ajax-method="post" data-ajax="true"
      data-ajax-failure="OnFailure"
      data-ajax-success="OnSuccess"
      data-ajax-begin="OnBegin"
      enctype="multipart/form-data">

    <input type="hidden" asp-for="Id" />
    <label class="form-group">@Localizer["Name"]</label>
    <input class="form-control" type="text" asp-for="Name" />
    <br />
    <label class="form-group">@Localizer["Description"]</label>
    <input class="form-control" type="text" asp-for="Description" />
    <br />
    <label class="form-group">@Localizer["Job"]</label>
    <input class="form-control" type="text" asp-for="Job" />
    <br />
    <label class="form-group">@Localizer["Email"]</label>
    <input class="form-control" type="email" asp-for="Email" />
    <br />
    <label class="form-group">@Localizer["Age"]</label>
    <input class="form-control" type="number" asp-for="Age" />
    <br />
    <label class="form-group">@Localizer["Title"]</label>
    <input class="form-control" type="text" asp-for="Title" />
    <br />
 
    <label class="form-group">@Localizer["Date"]</label>
    <input class="form-control" type="date" asp-for="Date" />
    <br />

    <label class="form-group">@Localizer["File"]</label>
    <input class="form-control" type="file" asp-for="Attach" />
    <input type="hidden" asp-for="File" />
    <input type="hidden" asp-for="Extention" />
    <br />
    <label class="form-group">@Localizer["Gender"]</label>
    <select class="form-control" asp-for="Genderid">

        <option value="">Select Gender</option>
        @foreach (var c in @listofgender) // Print the list
        {
            <option value="@c.Id">@c.Name</option>
        }


    </select>
    <br />
    <label class="form-group">@Localizer["listBooks"]</label>
    <select class="form-control" asp-for="Listid">

        <option value="">Select listbooks</option>
        @foreach (var c in @listofbooks) // Print the list
        {
            <option value="@c.Id">@c.NameBooks</option>
        }


    </select>
    <br />
    <button class="btn btn-success"> save</button>
</form>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    var OnFailure = function (data) {
        $('form button').attr('disabled', false)
        console.log(data.message);
    }
    var OnBegin = function () {
        $('form button').attr('disabled', true)
    }
    var OnSuccess = function (data) {
        $('form button').attr('disabled', false)
        console.log(data.message);
        LoadDataGrid();
        $('#modal-trigger .modal-body').html('');
        $('#modal-trigger').modal('hide');
    }
</script>