@using Asp.DALL.Entites;
@model Asp.DALL.Viewmodel.UserVM
@inject IHtmlLocalizer<MajalesResx> Localizer
@{
    var listpfrole = (List<Role>)ViewData["RoleId"];
}

<form asp-controller="User" asp-action="Form" data-ajax-method="post" data-ajax="true"
      data-ajax-failure="OnFailure"
      data-ajax-success="OnSuccess"
      data-ajax-begin="OnBegin"
      enctype="multipart/form-data">

    <input type="hidden" asp-for="Id" />
    <label class="form-group">@Localizer["Name"]</label>
    <input class="form-control" type="text" asp-for="UserName" />
    <br />


    <label class="form-group">@Localizer["Password"]</label>
    <input class="form-control" type="text" asp-for="Password" />
    <br />

      <label class="form-group">@Localizer["Role"]</label>
    <select class="form-control" asp-for="RoleId" >

    <option value="">Select Gender</option>
        @foreach (var c in @listpfrole) // Print the list
    {
    <option value="@c.Id">@c.Name</option>
    }


    </select>

    <br />

    <button class="btn btn-save"> save</button>
</form>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    var OnFailure = function (data) {
        $('form button').attr('disabled', false)
        console.log(data.message);
    }
    var OnBegin = function () {
        $('form button').attr('disabled', true)
    }
    var OnSuccess = function (data) {
        $('form button').attr('disabled', false)
        console.log(data.message);
        LoadDataGrid();
        $('#modal-trigger .modal-body').html('');
        $('#modal-trigger').modal('hide');
    }
</script>